@media only screen and (min-width: 726px) and (max-width: 916px) {
    .rightControl{
        height: 76.02em;
    }
    #c, canvas.upper-canvas, .canvas-container{
        height: 75.923em!important;
    }
    .changeview{
            height: 80.346em;
    }
}


@media only screen and (min-width: 538px) and (max-width: 725px) {
    .rightControl{
        height: 78.02em;
    }
    #c, canvas.upper-canvas, .canvas-container{
        height: 77.923em!important;
    }
    .changeview{
            height: 82.346em;
    }
    .rightControl .nomralBox .vl1 span{
        width: 17em
    }
}
@media only screen and (min-width: 410px) and (max-width: 537px) {
    .rightControl{
        height: 80.02em;
    }
    #c, canvas.upper-canvas, .canvas-container{
        height: 79.923em!important;
    }
    .changeview{
            height: 84.346em;
    }
    .rightControl .nomralBox .vl1 span{
        width: 16em
    }
}
@media only screen and (min-width: 0px) and (max-width: 410px) {
    .rightControl{
        height: 87.02em;
    }
    #c, canvas.upper-canvas, .canvas-container{
        height: 87.923em!important;
    }
    .changeview{
            height: 93.346em;
    }
    .rightControl .nomralBox .vl1 span{
        width: 17em;
    }
}

