html{
    background: #d3d3d4;
}
.hide{
    display:none;
}
.canvas-container-wp{
    border: 2px solid #000;
    background:#fff;
}

.container{
    margin: 0 auto;
    width: 965px;
}
.canvas-container-wp{
    float: left;
}
.rightControl{
    float: right;
    width: 185px;
}
.rightControl .box .title{
    width: 183px;
    position: relative;
    left: 0px;
}
.rightControl .box .title img{
    width: 100%;
    border-left: 2px solid #5f80ba;
}
.clear{
    clear: both;
}
.rightControl .box{
    box-shadow: 2px 2px 0px #595757;
    margin-bottom: 8px;
    background: #fff;
}
.rightControl .nomralBox{
    width: 103%;
}
.rightControl .nomralBox .vl1 span{
    width: 118px;
    margin-top: 7px;
}
.rightControl .nomralBox .vl1{
    margin-top: 5px;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.rightControl .nomralBox .vl1.vl2{
    float: right;
    width: auto;
    margin-right: 5px;
}
.rightControl .nomralBox .vl1.vl2 span{
    width: 33px;
}
.rightControl .nomralBox .vl1 span{
    float: left;
}
.rightControl .nomralBox .inputValue{
    margin-top:0;
    float: left;
    margin-left: 3px;
    width: 61px;
}
.rightControl .nomralBox .vl1 img{
    width: 100%;
}
.inputValue{
    line-height:1;
}
.rightControl .circle-img{
    width: 10px;
    float: left;
    margin-top: -4px;
}
.slider.slider-horizontal .slider-track{
    height: 4px;
}
.slider.slider-vertical{
    height: 80px;
    margin-left: 47%;
    float: left;
    margin-bottom: 12px;
    margin-top: 8px;
}
.rightControl .box.box2 .labelA span{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 0px;
}
.rightControl .box.box2 .labelA input{

    margin-left:5px;

    margin-top: 5px;
}
.rightControl .box.box2 .labelA{
    display: table;
    margin: 0 auto;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
    box-shadow: 2px 2px 4px #898989;
    margin-top: -8px;
    margin-left: 0px;
}
.slider.slider-horizontal{
    margin: 0px auto 0;
    /* display: table; */
    padding-bottom: 38px;
    float: left;
    margin-left: 12px;
    margin-right: 6px;
}
.slider.slider-horizontal{
    width: 147px;
}
.rightControl .box.box3 .slider-selection.tick-slider-selection{
    display: none;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
    background: url("../images/slider.png") no-repeat;
    width: 16px;
    height: 16px;
}
.rightControl .box.box3{
    position: relative;
}
.slideStamp{
    background: #595757;
    position: absolute;
    width: 245px;
    height: 10px;
    bottom: 25px;
    z-index: 0;
    left: 26px;
    border: 5px solid #c9caca;
    border-radius: 10px;
}
.buttons2{
    padding-top: 7px;
}
.buttons2 a#btnReset img{
    width: 113px;
}
.buttons2 a#btnReset{
    float: none;
    display: table;
    margin: 5px auto;
}
.buttons2 a{
    float: left;
    width: 87px;
}
.buttons2 a img{
    width: 100%;
    border:none;
}
.buttons2 a.btn2{
    float: right;
}
.rightControl .box.box3 .slider.slider-horizontal{
    width: 170px;
    display: table;
    margin: 5px auto 10px;
    float: none;
    z-index: 2;
}
.rightControl .box.box3 .f-box > .slider.slider-horizontal {
    position: relative;
    z-index: 1;

}
.rightControl .box.box3 .f-box .slider.slider-horizontal{
    padding-bottom: 35px;
    margin-bottom: 4px;
}
.rightControl .box.box3 .f-control-2 > .slider.slider-horizontal{
    position: relative;
    z-index: 0;
}
.rightControl .box.box3 .slider.slider-horizontal .slider-handle{
}
.rightControl .box.box3 .f-box{
    display: table;
    margin: 5px auto 0;
    position: relative;
}
.rightControl .box.box3 .slider.slider-horizontal{
    float: left;
    width: 75px;
    margin-right: 0px;
}
.f-control-2{
    float: left;
    margin-left: 5px;
}
.rightControl .box.box3 .f-control-2 .slider.slider-horizontal .slider-track{

}
.tempspan{
    position: absolute;
    background: url(../images/circle-s2.png) no-repeat;
    width: 10px;
    height: 48px;
    bottom: 7px;
    left: 50%;
    z-index: 2;
    margin-left: -6px;
}
.inputValue{
    color: #ff0000;
    border: 2px solid #000;
    width: 50px;
    font-size: 18px;
    height: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 65px;
    margin-left: 7px;
}
@-moz-document url-prefix() {
    .inputValue {
        width: 72px;
    }
}
.slider-track{
    border: 5px solid #c9caca;
}
.rightControl .box.box3 .f-box .slider.slider-horizontal .slider-track{
    border:none;
    box-shadow: 0px 0px 0px 4px #C9CABA;
    -webkit-box-shadow: 0px 0px 0px 2px #C9CABA;
    -moz-box-shadow:0px 0px 0px 4px #C9CABA;
}
.rightControl .box.box3 .f-box > .slider.slider-horizontal .slider-handle{
    margin-left: -14px;
}
.slider.slider-vertical .slider-track, .slider.slider-horizontal .slider-track{
    border:none;
    box-shadow: 0px 0px 0px 4px #C9CABA;
    -webkit-box-shadow: 0px 0px 0px 2px #C9CABA;
    -moz-box-shadow:0px 0px 0px 4px #C9CABA;
}
.rightControl .box.box3 .f-control-2 > .slider.slider-horizontal{

}
.slider-track{
    border-radius: 12px;
}
.slider.slider-vertical .slider-tick, .slider.slider-vertical .slider-handle{
    margin-left: -7px;
    box-shadow: 2px 2px 4px #898989;
}
.slider-handle{
    background: url("../images/slider.png") no-repeat;
    width: 16px;
    height: 16px;
}
.slider.slider-vertical .slider-track{
    width: 4px;
}