html{
    background: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}
body{background: #fff;margin: 0;width: 100%;height: 100%;}
.hide{
    display:none;
}
.canvas-container-wp{
    background:#fff;
}

.container{
    margin: 0 auto;
    width: 1855px;
}
.canvas-container-wp{
    float: left;
}
.rightControl{
        float: left;
    width: 350px;
    padding-top: 30px;
    background: #d3d3d3;
    padding-left: 18px;
    padding-bottom: 29px;
    padding-right: 25px;
        height: 1003px;
}
.rightControl .box .title{
    width: 348px;
    position: relative;
    left: 0px;
}
.rightControl .box .title img{
    width: 100%;
    border-left: 2px solid #5f80ba;
}
.clear{
    clear: both;
}
.rightControl .box{
    box-shadow: 3px 3px 0px #595757;
    margin-bottom: 20px;
    -ms-touch-action: none;
    background: #fff;
}
.rightControl .nomralBox{
    width: 100%;
    /* margin-top: 28px; */
}
.rightControl .nomralBox .vl1 span{
    width: 215px;
    margin-top: 15px;
}
.rightControl .nomralBox .vl1{
    margin-top: 10px;
    float: left;
    margin-bottom: 12px;
    width: 100%;
}
.rightControl .nomralBox .vl1.vl2{
    float: right;
    width: auto;
    margin-right: 0;
    margin-top: 6px;
}
.rightControl .nomralBox .vl1.vl2 span{
    width: 47px;
}
.rightControl .nomralBox .vl1 span{
    float: left;
}
.rightControl .nomralBox .inputValue{
    margin-top:0;
    float: right;
    margin-left: 4px;
    width: 122px;
    position: relative;
    left: 2px;
}
.rightControl .nomralBox .vl1 img{
    width: 100%;
}
.inputValue{
    line-height:1;
}
.rightControl .circle-img{
    width: 15px;
    float: left;
    margin-left: -18px;
}
.slider.slider-horizontal .slider-track{
    height: 9px;
}
.slider.slider-vertical{
    height: 139px;
    margin-left: 47%;
    float: left;
    margin-bottom: 27px;
    margin-top: 25px;
    z-index: 2;
}
.rightControl .box.box2 .labelA span{
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 0px;
}
.rightControl .box.box2 .labelA span img{
    top: 2px;
    position: relative;
}
.rightControl .box.box2 .labelA input{

margin-left:5px;

margin-top: 15px;
}
.rightControl .box.box2 .labelA{
    display: table;
    margin: 0 auto;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
    box-shadow: 2px 2px 4px #898989;
    margin-top: -13px;
    margin-left: -6px;
}
.slider.slider-horizontal{
    margin: 15px auto 10px;
    /* display: table; */
    padding-bottom: 38px;
    float: left;
    margin-left: 22px;
    margin-right: 35px;
    z-index: 2;
}
.slider.slider-horizontal{
    width: 265px;
}
.rightControl .box.box3 .slider-selection.tick-slider-selection{
    display: none;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
    background: url("../images/slider.png") no-repeat;
    /* width: 16px; */
    /* height: 16px; */
}
.rightControl .box.box3{/* position: relative; */}
.slideStamp{
    background: #595757;
    position: absolute;
    width: 245px;
    height: 10px;
    bottom: 25px;
    z-index: 0;
    left: 26px;
    border: 5px solid #c9caca;
    border-radius: 10px;
}
.buttons2{
    padding-top: 5px;
    min-height: 62px;
}
.buttons2 a#btnReset img{
    width: 190px;
}
.buttons2 a#btnReset{
    float: none;
    display: table;
    margin: 5px auto;
}
#btnReset img.hover{
    display: none;
}
#btnReset:hover img.normal{
    display: none;
}
#btnReset:hover img.hover{
    display: block;
}
.buttons2 a{
    float: left;
    width: 165px;
}
.buttons2 a img{
    width: 100%;
    border:none;
}
.buttons2 a.btn2{
    float: right;
    width: 159px;
    margin-right: 4px;
    margin-top: 1px;
}
.rightControl .box.box3 .slider.slider-horizontal{
    width: 170px;
    display: table;
    margin: 5px auto 10px;
    float: none;
    z-index: 2;
}
.rightControl .box.box1 .slider.slider-vertical .slider-handle{
    margin-left: -10px;
}
.rightControl .box.box3 .f-box > .slider.slider-horizontal {
    z-index: 1;

}
.rightControl .box.box3 .f-box .slider.slider-horizontal{
    padding-bottom: 35px;
    margin-bottom: 4px;
    left: -7px;
}
.rightControl .box.box3 .f-control-2 > .slider.slider-horizontal{
    position: relative;
    z-index: 1;
}
.rightControl .box.box2 .slider.slider-horizontal .slider-handle{
    margin-left: -12px;
    position: relative;
}
.rightControl .box.box3 .f-box{
    display: table;
    margin: 10px auto 0;
    padding-bottom: 12px;
    /* position: relative; */
}
.rightControl .box.box3 .slider.slider-horizontal{
    float: left;
    width: 115px;
    margin-right: 3px;
}
.f-control-2{
    float: left;
    margin-left: 21px;
}
.rightControl .box.box3 .f-control-2 .slider.slider-horizontal .slider-track{

}
.tempspan{
    position: relative;
    background: url(../images/circle-s.png) no-repeat;
    width: 15px;
    height: 74px;
    bottom: 5px;
    left: 50%;
    z-index: 2;
    margin-left: -5px;
}
.inputValue{
    color: #ff0000;
    border: 3px solid #000;
    width: 86px;
    font-size: 39px;
    height: 40px;
    line-height: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 138px;
    margin-left: 19px;
    position: Relative;
}
@-moz-document url-prefix() {
    .inputValue {
        width: 72px;
    }
}
.slider-track{
}


.rightControl .box.box3 .f-box > .slider.slider-horizontal .slider-handle{
    margin-left: -12px;
}
.slider.slider-vertical .slider-track, .slider.slider-horizontal .slider-track{
    
}
.slider.slider-horizontal .slider-track{
    width: 100%;
}
.rightControl .box.box3 .f-control-2 > .slider.slider-horizontal{left: 10px;}
.box2dif .slider.slider-horizontal{
    width: 262px;
    margin-left: 33px;
}
.slider-track{
    border-radius: 12px;
    background: transparent;
}
.slider.slider-vertical .slider-tick, .slider.slider-vertical .slider-handle{
    margin-left: -11px;
    box-shadow: 2px 2px 4px #898989;
}
.lentemp{
border:none;
    box-shadow: 0px 0px 0px 4px #C9CABA;
    -webkit-box-shadow: 0px 0px 0px 4px #C9CABA;
    -moz-box-shadow:0px 0px 0px 4px #C9CABA;
background: #595757;

width: 8px;

height: 160px;

position: absolute;

bottom: 11px;

left: 170px;


border-radius: 12px;
}
.rightControl .box.box3 .ftemp{
    border:none;
    box-shadow: 0px 0px 0px 4px #C9CABA;
    -webkit-box-shadow: 0px 0px 0px 4px #C9CABA;
    -moz-box-shadow:0px 0px 0px 4px #C9CABA;
    background: #595757;
    height: 8px;
    border-radius: 12px;
    position: absolute;
    width: 290px;
    bottom: -34px;
    left: -15px;
    z-index: 0;
}
.atemp{
    border:none;
    box-shadow: 0px 0px 0px 4px #C9CABA;
    -webkit-box-shadow: 0px 0px 0px 4px #C9CABA;
    -moz-box-shadow:0px 0px 0px 4px #C9CABA;
    background: #595757;
    height: 8px;
    width: 280px;
    border-radius: 12px;
    bottom: -47px;
    position: absolute;
    left: 27px;
}
.slider-handle{
    background: url("../images/slider.png") no-repeat;
    width: 27px;
    height: 29px;
}
.slider.slider-vertical .slider-track{
    width: 8px;
}
.canvas-container-wp {
    text-align: center;
    background: #EFEFEF;
    padding-right: 2px;
}
.canvas-container{
    background: #fff;
    margin-top: 30px;
    box-shadow: 3px 3px 0px #595757;
    margin-bottom: 28px;
}
.chagneview{
    /* top: -20px; */
    width: 1432px;
    left: auto;
    /* display: block; */
    bottom: 0;
    background: #EFEFEF;
}
.relative{
    position: relative;
}
body.moveLeft .rightControl{
    float: left;
}
body.moveLeft .canvas-container-wp{
    float: right;
}
body.moveRight .rightControl{
    float: right;
}
body.moveRight .canvas-container-wp{
    float: left;
}
.moveLeft .chagneview{
    width: 1417px;
    float: right;
}
.moveLeft #main-cavas{
    margin-right: 30px;
}
#moveRight{
    /* float: right; */
    /* margin-right: -16px; */
}
.rightControl .box.box1 .inputValue{
    top:-7px;
}
.changeview{
    float: left;
    margin-left: 30px;
    height: 1060px;
    width: 30px;
    background: #d3d3d3;
}
.changeview.right{
    float: right;
    display: none;
    margin-left: 0;
}
.changeview a{
    display: block;
    vertical-align: middle;
    height: 100%;
    position: relative;
}
.changeview a img{
    display: table-cell;
    position: absolute;
    bottom: 0;
    margin-top: -11px;
}
.changeview.left{

}
.moveLeft .canvas-container-wp{
    /* padding-right: 7px; */
}